---
// TODO: Página de booking
import Layout from '../layouts/Layout.astro';
import { FormularioCita } from '../components/FormularioCita';
---

<Layout title="Agendar - BarberShop">
  <main>
    {/* TODO: Implementar página de booking */}
    <FormularioCita client:load />
  </main>
</Layout>
