---
// TODO: Página del dashboard del barbero
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dashboard - BarberShop">
  <main>
    {/* TODO: Implementar dashboard de barbero */}
  </main>
</Layout>
