---
// TODO: Página de login
import Layout from '../layouts/Layout.astro';
import { LoginForm } from '../components/LoginForm';
---

<Layout title="Login - BarberShop">
  <main>
    {/* TODO: Implementar página de login */}
    <LoginForm client:load />
  </main>
</Layout>
