---
// TODO: Página de mis citas
import Layout from '../layouts/Layout.astro';
import { ListaCitas } from '../components/ListaCitas';
---

<Layout title="Mis Citas - BarberShop">
  <main>
    {/* TODO: Implementar página de mis citas */}
    <ListaCitas client:load />
  </main>
</Layout>
