---
// TODO: Página de registro
import Layout from '../layouts/Layout.astro';
import { RegisterForm } from '../components/RegisterForm';
---

<Layout title="Registro - BarberShop">
  <main>
    {/* TODO: Implementar página de registro */}
    <RegisterForm client:load />
  </main>
</Layout>
